body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $default;
  background-color: $color-white;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

