@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 50px 0 0;
  background-color: $grey-lightest;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    @extend %roboto-700;
    color: $title;
  }
}

.menu {

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    padding-right: 45px;
  }

  &__link {
    padding: 13px 2px 13px;
    transition: border-color 0.5s, color 0.3s;
    border: solid 2px transparent;
    outline: transparent;
    
    &:focus {
      border: solid 2px $accent;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      color: $grey-darkest;
    }
  }

  &__link--active {
    border-bottom: solid 2px $accent;
  }
}

.cart {

  &__link {
    position: relative;
    padding: 13px 2px 13px;
    transition: border-color 0.5s, color 0.3s;
    border: solid 2px transparent;
    outline: transparent;
    
    &:focus {
      border: solid 2px $accent;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      color: $grey-darkest;
    }
  }

  &__img {
    margin-right: 25px
  }

  &__num {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $accent;
    top: 0;
    left: 10px;
    font-size: 12px;
    color: $color-white;
    text-align: center;
    line-height: 1.4;
  }
}

.hero {
  background-color: $grey-lightest;
  margin-bottom: -26px;
  
  &__item {
    display: flex;
    justify-content: space-between
  }

  &__title {
    @extend %roboto-500;
    font-size: 55px;
    line-height: 1;
    color: $title;
    max-width: 395px;
    margin-bottom: 25px;
    padding-top: 78px;
  }

  &__text {
    max-width: 400px;
    margin-bottom: 38px;
  }

  &__link {
    padding-left: 54px;
    padding-right: 54px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    transform: translateY(-122px);

    li {
      margin-right: 17px;
      
      button{
        padding: 0;
        font-size: 0;
        background-color: $color-white;
        width: 18px;
        height: 18px;
        border: 2px solid transparent;
        border-radius: 50%;
      }
      
      &.slick-active {
        transition: box-shadow 0.5s, color 0.5s, border 0.5s;

        button {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          color: transparent;
          border: 2px solid $grey-darker;
          box-shadow: 0 0 0 5px $color-white;
        }
      }
    }
  }

}

.services {

  &__blocks {
    display: flex;
  }

  &__title {
    position: relative;
    
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/services-red.png);
    }
  }
}

.footer {
  
  &__top {
    padding-top: 54px;
    padding-bottom: 54px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__data {
    background-color: $color-white;
    padding: 50px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
  }

  &__name {
    margin-bottom: 22px;
  }

  &__address {
    max-width: 230px;
    margin-bottom: 15px;
    color: $grey-darkest;
    line-height: 1.1;
  }

  &__phone {
    margin-bottom: 30px;
    padding: 2px;
    color: $grey-darkest;
    border: solid 2px transparent;
    outline: transparent;
    transition: border 0.5s, color 0.5s;

    &:focus {
      border: solid 2px $accent;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      color: $grey-darkest;
    }
  }
  
  &__btn {
    display: block;
    padding-right: 40px;
    padding-left: 40px;
  }

  &__title {
    @extend %roboto-700;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 10px;
    color: $title;
  }
  
  &__bottom {
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.social {
  margin-right: 140px;
  
  &__links {
    display: flex;
  }
  
  &__item:not(:last-child) {
    margin-right: 10px;
  }
  
  &__icon {
    border-radius: 50%;
    padding: 28px;
    background-color: $grey-light;
    color: $color-white;
    border: solid 2px transparent;
    width: 81px;
    height: 81px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    outline: transparent;
    
    &:focus {
      background-color: $title;
    }
    
    &:hover {
      background-color: $accent;
    }
    
    &:active {
      background-color: $grey-darkest;
    }
  }
}


@import 'media';
