@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 50px 0;
  background-color: $grey-lightest;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    @extend %roboto-500;
    color: $title;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    padding-right: 45px;
  }
  &__link {
    padding: 13px 2px 13px;
    transition: border-color 0.5s, color 0.3s;
    border: solid 2px transparent;
    outline: transparent;
    &:focus {
      border: solid 2px $accent;
    }
    &:hover {
      color: $accent;
    }
    &:active {
      color: $grey-darkest;
    }
  }
  &__link--active {
    border-bottom: solid 2px $accent;
  }
}

.cart {
  &__link {
    position: relative;
  }
  &__img {
    margin-right: 25px
  }
  &__num {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $accent;
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: $color-white;
    text-align: center;
    line-height: 1.4;
  }
}

.hero {
  background-color: $grey-lightest;
  &__item {
    display: flex;
  }
  &__title {
    @extend %roboto-500;
    font-size: 55px;
    line-height: 1;
    color: $title;
    max-width: 530px;
    margin-bottom: 25px;
  }
  &__text {
    max-width: 400px;
    margin-bottom: 38px;
  }
  &__btn {
    padding-left: 54px;
    padding-right: 54px;
  }

}

.footer {
  &__top {
    padding-top: 54px;
    padding-bottom: 54px;
  }
  &__data {
    background-color: $color-white;
    padding: 50px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      background-image: url(../images/map-marker.png);
      position: absolute;
      z-index: 5;
      margin: 0 auto;
    }
  }
  &__name {
    margin-bottom: 22px;
  }
  &__address {
    max-width: 230px;
    margin-bottom: 15px;
    color: $grey-darkest;
    line-height: 1.1;
  }
  &__phone {
    margin-bottom: 32px;
    color: $grey-darkest;
  }
  &__btn {
    display: block;
    padding-right: 44px;
    padding-left: 44px;
  }
}


@import 'media';
