.footer {
  padding: 75px 0;

  &__inner {
    display: flex;
  }

  &__title {
    @extend %roboto-700;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 10px;
    color: $title;
  }

  &__bottom {
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.social {
  margin-right: 140px;

  &__links {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__icon {
    border-radius: 50%;
    padding: 28px;
    background-color: $grey-light;
    color: $white;
    border: solid 2px transparent;
    width: 81px;
    height: 81px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;

    &:focus,
    &:active {
      background-color: $accent-darkest;
      box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
      color: $white-opacity;
    }

    &:hover {
      background-color: $accent-darker;
    }
  }
}