.footer {
  padding: 75px 0;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__title {
    @extend %roboto-700;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 10px;
    color: $title;
  }

  &__bottom {
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.social {
  margin-right: 140px;
  display: flex;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link--vk {
    background-image: url(../images/vk-icon.svg);
    width: 26px;
    height: 15px;

    &:focus,
    &:active {
      background-image: url(../images/vk-icon-hover.svg);
    }
  }

  &__link--fb {
    background-image: url(../images/fb-icon.svg);
    width: 12px;
    height: 22px;

    &:focus,
    &:active {
      background-image: url(../images/fb-icon-hover.svg);
    }
  }

  &__link--instagram {
    background-image: url(../images/insta-icon.svg);
    width: 21px;
    height: 21px;

    &:focus,
    &:active {
      background-image: url(../images/insta-icon-hover.svg);
    }
  }

  &__link {
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    padding: 28px 37px;
    background-color: $grey-light;
    color: $white;
    border: solid 2px transparent;
    width: 81px;
    height: 81px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s, background-image 0.3s;

    &:focus,
    &:active {
      background-color: $accent-darkest;
      box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
      color: $white-opacity;
    }

    &:hover {
      background-color: $accent-darker;
    }
  }
}