.map {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 55px 0;

  &__data {
    background-color: $white;
    padding: 50px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
  }

  &__name {
    margin-bottom: 22px;
  }

  address {
    margin-bottom: 30px;
  }

  &__address {
    max-width: 230px;
    margin-bottom: 15px;
    color: $grey-darkest;
    line-height: 1.1;
  }

  &__phone {
    color: $grey-darkest;
    border: solid 2px transparent;
    transition: border 0.5s, color 0.5s;

    &:focus {
      border: solid 2px $accent;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      color: $grey-darkest;
    }
  }

  &__btn {
    padding-right: 40px;
    padding-left: 40px;
  }
}