.about {
  padding: 40px 0 45px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 650px;
    padding-top: 45px;
  }

  &__title {
    font-size: 45px;
    line-height: 1;
    font-family: $roboto;
    font-weight: 500;
    color: $title;
    margin-bottom: 32px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__list {
    position: relative;
    
    &-title {
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 23px;
    }

    &-item {

      &::before {
        content: "";
        width: 25px;
        height: 2px;
        background-color: $accent;
        position: absolute;
        transform: translate(-35px, 10px);
      }

      &:not(:last-child) {
        padding-bottom: 20px;
        margin-left: 35px;
      }
    }
  }

  &__info {
    max-width: 360px;
  }

  &__subtitle {
    font-size: 16px;
    text-transform: uppercase;
    font-family: $roboto;
    color: $title;
    padding-top: 245px;
    margin-bottom: 30px;
    
    &::before {
      content: url(../images/about.png);
      transform: translateY(-245px);
      position: absolute;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 100px;
  }

  &__number {
    font-size: 45px;
    font-weight: 700;
    color: $title;

    &::after {
      content: "%";
      font-size: 26px;
      transform: translate(0px, 8px);
      position: absolute;
    }
  }

}