.clients {
  padding: 45px;

  & .container {
    border-top: solid 2px $grey-lightest;
    border-bottom: solid 2px $grey-lightest;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin: 45px 0;
  }
}