.services {
  padding: 80px 0 0;

  & .container {
    border-bottom: solid 2px $grey-lightest;
  }

  &__blocks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
  }

  &__block {
    position: relative;

    &--red::before {
      content: url(../images/services-red.png);
      position: absolute;
    }

    &--green::before {
      content: url(../images/services-green.png);
      position: absolute;
    }

    &--green .services__link {
      background-color: $green;

      &:focus,
      &:active {
        background-color: $green-darkest;
      }

      &:hover {
        background-color: $green-darker;
      }
      
    }

    &--yellow::before {
      content: url(../images/services-yellow.png);
      position: absolute;
    }

    &--yellow .services__link {
      background-color: $yellow;

      &:focus,
      &:active {
        background-color: $yellow-darkest;
      }

      &:hover {
        background-color: $yellow-darker;
      }
    }
    
  }

  &__title {
    font-size: 24px;
    text-transform: uppercase;
    padding-top: 170px;
    margin-bottom: 16px;
    color: $title;
  }

  &__text {
    max-width: 300px;
    margin-bottom: 50px;
  }

  &__link {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 80px;
  }

  &__items {
    display: flex;
  }
}